*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
 border: 1px red solid;
}

body{
    font-family: sans-serif;
}

/*SIDENAV START*/
.side-main{
    display: flex;
}

.side-nav{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap:10px;
    padding: 20px;
    width: 230px;
    background-color:rgba(0, 0, 0, 1);
}

.side-main span{
    color: white;
}

.small-logo{
    width: 20px;
    height: auto;
    display: none;
}

.menu{
    margin-top: 10px; 
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
}

.menu div{
    display: flex;
    align-items: center;
    gap: 20px;
}

.menu div:nth-child(n+2) span{
    color: gray;
}

.menu div:nth-child(n+2) span:hover{
    color: white;
}

.menu img{
    width: 30px;
    height: auto;
}

.playlist{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap:10px;
}

.playlist div span{
    color: gray;
}

.playlist div span:hover{
    color: white;
}

.playlist strong{
    color:white;
}

.playlist li{
    color: gray;
}

.playlist li:hover{
    color: white;
}

.playlist i{
    background-color: gray;
    padding: 10px;
}

.playlist div i:hover{
 background-color: white;
}

.playlist ul{
    display: flex;
    flex-direction: column;
    gap:10px;
    height: 200px;
    overflow-y: scroll;
}

.playlist li{
    list-style-type: none;
}

.profile-install{
    display:flex;
    flex-direction: column;
    gap: 10px;
}

.profile-install span{
    color: gray;
}

.profile-install strong{
    color:white;
}

.profile-install hr{    
    border: 2px solid gray;
    width: 100%;
}

.install{
    display: flex;
    gap: 20px;
}

.install span{
    color: gray;
}

.install span:hover {
    color: white;
}

.install img{
    width: 20px;
    height: auto;
}

.profile{
display: flex;
align-items: center;
gap: 20px;
}

.profile img{
    width: 30px;
    height: auto;
    background-color:rgba(128, 128, 128, 1);
    border-radius: 30px;
}
/*SIDENAV END*/


/*MAIN SECTION START*/
main{
    height:calc(100vh - 90px);
    padding-top: 100px;
    padding-left:20px ;
    padding-right:20px ;
    width:calc(100% - 230px);
    background-color: rgba(20, 25, 34, 1);
    overflow-y:auto;
}

main h2{
    margin-left: 10px;
    color: white;
}

.bottom-nav{
    height: 90px;
    background-color:rgba(40, 40, 40, 1) ;
}

.upgrade{
    height: 80px;
    padding: 0 20px;
    position: fixed;
    right: 0;
    top:0;
    width: calc(100% - 230px);
    display: flex;
    justify-content:flex-end;
    align-items: center;
    background-color: rgba(8, 11, 18, 1);
}

.upgrade button{
    padding: 10px 20px;
    color:white;
    border-color: white;
    border-width: 2px;
    border-radius: 20px;
    background-color: rgba(8, 11, 18, 1);
}

.upgrade button:hover{
    transform:scale(1.1);
}

.main-top-list{
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

.main-top-list ul{
    display: flex;
    justify-content: space-around;
    gap: 20px;
    flex-wrap: wrap;
}

.main-top-list li{
    list-style-type: none;
    color:gray;
}

.main-top-list li:hover{
    color: white;
}

.recently-played{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.recently-played .albums{
    display: flex;
}

.recently-played .albums div{
    padding: 5px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    width: calc(100% / 6);
}

.recently-played img{
    width: 100%;
    height: auto;
}

.recently-played strong{
    color: white;
}

.recently-played span{
    color: gray;
}

.john-popolari{
    display: flex;
    flex-direction: column;
    gap:10px;
    align-items: start;
    padding-top: 20px;
}

.john-popolari p{
    margin-left: 10px;
    color: gray;
}

.john-popolari strong{
    color: white;
}

 .images{
display: flex;
width: calc(100% / 2);
}

.image{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:10px;
    padding: 10px;
    width: 100%; 
}

.image img{
    width:100%;
    height: auto;
}

.image1 img{
    border-radius: 200px;
}

/* BOTTOM NAV START */
*.bottom-nav{
    color: white;
}

.bottom-nav{
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
}

 .box1 {
    flex-grow: 1;
    display: flex;
    justify-content: flex-start;
    align-items:center;
    gap:40px;
}

.box1 p{
    color: gray;
}

.box1 p:hover{
    color:white;
}

.box1 img{
    width:50px;
    }

.box1 div:first-child{
display: flex;
gap:10px;
}

.box1 .heart-folder{
display: flex;
gap:10px;  
}

.heart-folder i:first-child{
    color: gray;
}

.heart-folder i:first-child:hover{
    color:white;
}

.heart-folder i:last-child{
    color: gray;
}

.heart-folder i:last-child:hover{
    color:white;
}

.box2{
    flex-grow: 1;
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.box2 div:first-child{
width: 100%;  
display: flex;
justify-content: center;
align-items: center;
gap:10px;
}

.box2 div:first-child i{ 
font-size: 130%;
}

.box2 div:first-child .fa-circle-play:hover{
transform: scale(1.1);
}

.box2 div:last-child{
    display: flex;
}

.box2 div:last-child div:nth-child(2n+1){
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box2 div:last-child div:nth-child(2){
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;  
}

.box2 div:last-child div:nth-child(2) input{
    width: 100%;
}

.box3{
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 15px;
}

.box3 div{
    width: calc(100% / 4);
}
.box3 input{
  width: 100%;
}

/*BOTTOM NAV END*/


@media screen and (max-width: 992px){
    .recently-played .albums{
        flex-wrap: wrap;
    }

    .recently-played .albums div{
        width: calc(100% / 4);
    }
}


@media screen and (max-width: 768px){
    .recently-played .albums{
        flex-wrap: wrap;
    }

    .recently-played .albums div{
        width: calc(100% / 2);
    }

    .images{
        display: flex;
        width: 100%;
        }

       .bottom-nav  .boxes{
            width: calc(100% / 3);
        }

    .box1{
        padding-right: 40px;
    }

    .heart-folder{
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }  
}


@media screen and (max-width: 566px){    
    .upgrade{
        width: calc(100% - 60px);
    }

    main{
        width: 100%;
        height: 100%;
    }
    .side-nav{
        width: 60px;
        padding:0;
        align-items: center;
    }

    .side-top{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .big-logo{
        display: none;
    }
    .small-logo{
        display: inline-block;
       width: 30px;
    }

    .menu span{
        display: none;
    }

    .playlist{
        display: none;
    }

    .profile-install span{
        display: none;
    }

    .profile-install strong{
        display: none;
    }
  
    .install{
        display: flex;
        justify-content: center;
    }
   
    .profile-install hr{
    opacity: 0;
    }

     .bottom-nav .box1{
        width: calc(100% / 3);
        gap: 0;
    }

    .bottom-nav .box2{
        width: calc(100% / 3);
    }
 
    .bottom-nav .box3{
        width: calc(100% / 3);
        justify-content:flex-start;
        align-items:center;
    }   
}
