*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: 1px red solid;
}

/*IMPOSTAZIONE MACRO AREE START*/
.side-main{
    display: flex;
}

.side-nav{
    width: 200px;
    background-color: lightpink;
}

main{
    flex-grow: 1;
    background-color: lightskyblue;
    height: 600px;
}

.bottom-nav{
    height: 300px;
    background-color:lightseagreen ;
}
/*IMPOSTAZIONE MACRO AREE START*/

